body {
  background: #555;
}

.content {
width: 80vw;
margin: auto;
background: white;
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
}

.profilewrapper{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.datawrapper{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border: groove;
  width: 100%;
}

.textareatitle{
  padding: 10px 0 10px 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  font-size: 110%;
}

@media only screen and (max-width: 800px){
  .datawrapper{
    display: flex;
    flex-direction: column;
  }
}

.dataitem{
  flex: 1 0 50%;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (max-width: 800px){
  .dataitem{
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 800px){
  .profilewrapper{
    flex-direction: column;
  }
}

a{
  text-decoration: none !important; 
}

#indextitle{
  margin-top: 20px;
}

.profileitem{
  flex: 0 0 40%;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 50px;
  margin-bottom: 30px;
  text-decoration: none;
}

.profileitempic{
  flex: 0 0 40%;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 10px;
  margin-bottom: 30px;
  text-decoration: none;
}

.profileitemfinal{
  flex: 0 0 100%;
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 50px;
  margin-bottom: 30px;
  text-decoration: none;
}

.profileitemnum{
  font-family: 'Raleway', sans-serif;
  font-size: 300%;
  color: brown;
  text-align: center;
}

.studentmostname{
  font-family: 'Raleway', sans-serif;
  font-size: 200%;
  color: brown;
  text-align: center;
}

h1{
  justify-content: center;
  display: flex;
  font-family: 'Staatliches', cursive;
}

h2{
  justify-content: center;
  display: flex;
  font-family: 'Staatliches', cursive;
  font-size: 40%;
}

.wrap, html, body{
  height: 80%;
}

.wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pupil-search{
  display: flex;
  justify-content: left;
}

.welcome-message{
  align-self: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
}

.subtitle{
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: center;
}

.index-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: ridge;
  flex-direction: column;
  padding: 40px;
}

.login-form{
    margin:auto;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  }
  
.navbar li{
  padding: 0px 20px;
}

.navbar li a {
  display: block;
  padding: 9px;
  transition: all 0.3s ease 0s;
  color: rgba(0, 136, 139, 1);
}

.navbar li a:hover {
  color: rgba(0, 136, 139, 0.6);
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

button{
  background-color: rgba(0, 136, 139, 1);
  border: none;
  border-radius: 50px;
  padding: 9px 25px;
  cursor: pointer;
}

.regPupForm{
  text-align: left;
  border: darkviolet;
  border-radius: 5px;
}

.loggedin{
    font-size: 9px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    margin-top: 50px;
}

.chartholder{
  flex: 0 0 40%;
  border: 1px solid black;
  padding: 50px;
  margin-bottom: 30px;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  width: 20%;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
  display: block;
}
table.blueTable tfoot .links a{
  display: block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

td a { 
  display: block; 
}

.registerform{
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/*
=====
DEPENDENCES
=====
*/

/* reset browser's styles of links https://github.com/melnik909/r-link */
.r-link{
  display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

/* reset browser's styles of the ul https://github.com/melnik909/r-list */

.r-list{
  padding-left: var(--rListPaddingLeft, 0) !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}


/*
=====
CORE STYLES
=====
*/

.menu{
  --rLinkColor: var(--menuLinkColor, currentColor);
  width: 100vw;
}

.menu__link{
  display: var(--menuLinkDisplay, block);
}

/* 
focus state 
*/

.menu__link:focus{
  outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
  outline-offset: var(--menuLinkOutlineOffset);
}

/* 
fading siblings
*/

.menu:hover .menu__link:not(:hover){
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

/*
=====
PRESENTATION STYLES
=====
*/

.menu{
  background-color: var(--menuBackgroundColor, #f0f0f0);
  box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  margin-bottom: 2%;
}

.menu__group:first-of-type,
.menu__group:last-of-type {
    margin-left: auto;
}

.menu__list{
  display: flex;  
  justify-content: center;
}

.menu__link{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-weight: 300;
  text-transform: uppercase;
}

/* 
=====
TEXT UNDERLINED
=====
*/

.text-underlined{
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color .25s ease-out;  
}

.text-underlined::before, 
.text-underlined::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);

  will-change: width;
  transition: width .1s ease-out;

  position: absolute;
  bottom: 0;
}

.text-underlined::before{
  left: 50%;
  transform: translateX(-50%); 
}

.text-underlined::after{
  right: 50%;
  transform: translateX(50%); 
}

.text-underlined:hover::before, 
.text-underlined:hover::after{
  width: 100%;
  transition-duration: .2s;
}

/*
=====
SETTINGS
=====
*/

.page__custom-settings{
  --menuBackgroundColor: #6c5ce7;
  --menuLinkColor: #fff;
  --menuLinkColorUnactive: #241c69;
  --menuLinkOutlineOffset: -.5rem; 
}


form{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 200%;
	margin: 10px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
  background: #F7F7F7;
  border-width: 1px;
  border-color: darkslategrey;
  border-style: solid;
}
form h1{
	background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
form input,
form textarea,
form select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
form input:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

form input[type="submit"],
form input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
form input[type="submit"]:hover,
form input[type="button"]:hover{
	background: #2EBC99;
}