body {
  background: #555;
}

.content {
max-width: 80%;
margin: auto;
background: white;
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
}

h1{
  justify-content: center;
  display: flex;
}

.wrap{
  display: flex;
  justify-content: center;
  height: 100%;
}

.pupil-search{
  display: flex;
  justify-content: left;
}

.welcome-message{
  align-self: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
}

.index-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: ridge;
  flex-direction: column;
  padding: 40px;
}

.login-form{
    margin:auto;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  }
  
.navbar li{
  padding: 0px 20px;
}

.navbar li a {
  display: block;
  padding: 9px;
  transition: all 0.3s ease 0s;
  color: rgba(0, 136, 139, 1);
}

.navbar li a:hover {
  color: rgba(0, 136, 139, 0.6);
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

button{
  background-color: rgba(0, 136, 139, 1);
  border: none;
  border-radius: 50px;
  padding: 9px 25px;
  cursor: pointer;
}

.regPupForm{
  text-align: left;
  border: darkviolet;
  border-radius: 5px;
}

.loggedin{
    font-size: 9px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}

.profilewrapper{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.profileitem{
  flex: 0 0 40%;
  border: 1px solid black;
  padding: 50px;
  margin-bottom: 30px;
}

.chartholder{
  flex: 0 0 40%;
  border: 1px solid black;
  padding: 50px;
  margin-bottom: 30px;
}