body {
  background: #555;
}

.content {
max-width: 80%;
margin: auto;
background: white;
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
}

.profilewrapper{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.profileitem{
  flex: 0 0 40%;
  border: 1px solid black;
  padding: 50px;
  margin-bottom: 30px;
}

h1{
  justify-content: center;
  display: flex;
}

.wrap{
  display: flex;
  justify-content: center;
  height: 100%;
}

.pupil-search{
  display: flex;
  justify-content: left;
}

.welcome-message{
  align-self: flex-start;
  font-family: 'Source Sans Pro', sans-serif;
}

.index-holder{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: ridge;
  flex-direction: column;
  padding: 40px;
}

.login-form{
    margin:auto;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  }
  
.navbar li{
  padding: 0px 20px;
}

.navbar li a {
  display: block;
  padding: 9px;
  transition: all 0.3s ease 0s;
  color: rgba(0, 136, 139, 1);
}

.navbar li a:hover {
  color: rgba(0, 136, 139, 0.6);
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

button{
  background-color: rgba(0, 136, 139, 1);
  border: none;
  border-radius: 50px;
  padding: 9px 25px;
  cursor: pointer;
}

.regPupForm{
  text-align: left;
  border: darkviolet;
  border-radius: 5px;
}

.loggedin{
    font-size: 9px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}

.chartholder{
  flex: 0 0 40%;
  border: 1px solid black;
  padding: 50px;
  margin-bottom: 30px;
}

table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 60%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  width: 20%;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
  display: block;
}
table.blueTable tfoot .links a{
  display: block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

td a { 
  display: block; 
}

.registerform{
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


/*
=====
DEPENDENCES
=====
*/

/* reset browser's styles of links https://github.com/melnik909/r-link */
.r-link{
  display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

/* reset browser's styles of the ul https://github.com/melnik909/r-list */

.r-list{
  padding-left: var(--rListPaddingLeft, 0) !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}


/*
=====
CORE STYLES
=====
*/

.menu{
  --rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link{
  display: var(--menuLinkDisplay, block);
}

/* 
focus state 
*/

.menu__link:focus{
  outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
  outline-offset: var(--menuLinkOutlineOffset);
}

/* 
fading siblings
*/

.menu:hover .menu__link:not(:hover){
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}

/*
=====
PRESENTATION STYLES
=====
*/

.menu{
  background-color: var(--menuBackgroundColor, #f0f0f0);
  box-shadow: var(--menuBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
}

.menu__list{
  display: flex;  
}

.menu__link{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-weight: 300;
  text-transform: uppercase;
}

/* 
=====
TEXT UNDERLINED
=====
*/

.text-underlined{
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color .25s ease-out;  
}

.text-underlined::before, 
.text-underlined::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);

  will-change: width;
  transition: width .1s ease-out;

  position: absolute;
  bottom: 0;
}

.text-underlined::before{
  left: 50%;
  transform: translateX(-50%); 
}

.text-underlined::after{
  right: 50%;
  transform: translateX(50%); 
}

.text-underlined:hover::before, 
.text-underlined:hover::after{
  width: 100%;
  transition-duration: .2s;
}

/*
=====
SETTINGS
=====
*/

.page__custom-settings{
  --menuBackgroundColor: #6c5ce7;
  --menuLinkColor: #fff;
  --menuLinkColorUnactive: #241c69;
  --menuLinkOutlineOffset: -.5rem; 
}